<div class="container-fluid position-relative bg-white d-flex p-0">
    <!-- Sign Up Start -->
    <div class="container-fluid">
        <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
            <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
                <form #form="ngForm" (ngSubmit)="onSubmit(form)" class="bg-light rounded p-4 p-sm-5 my-4 mx-3">
                    <div class="d-flex align-items-center justify-content-between mb-3">
                        <h5 class="text-primary"> <img src="../../../assets/img/saveetha-logo.png" style="width: 50px; height: 50px;"> SAVEETHA </h5>
                        <h5>Sign Up</h5>    
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="userName" name="userName" autocomplete="off" [(ngModel)]="model.userName" placeholder="userName">
                        <label for="userName">User ID</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="firstName" name="firstName" autocomplete="off" [(ngModel)]="model.firstName" placeholder="firstName">
                        <label for="firstName">First name</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="lastName" name="lastName"  autocomplete="off" [(ngModel)]="model.lastName" placeholder="lastName">
                        <label for="lastName">Last name</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="emailId" name="emailId" autocomplete="off" [(ngModel)]="model.emailId" placeholder="emailId">
                        <label for="emailId">Email address</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="mobileNo" name="mobileNo" autocomplete="off" [(ngModel)]="model.mobileNo" placeholder="mobileNo">
                        <label for="mobileNo">Mobile No</label>
                    </div>
                    <div class="form-floating mb-3">
                        <select class="form-select" id="floatingSelect"
                            aria-label="Floating label select example" name="Select a option" [(ngModel)]="model.type">
                            <option value="" selected>Super Admin</option>
                            <option value="Technician">Admin</option>
                        </select>
                        <label for="floatingSelect">Type</label>
                    </div>
                    <button type="submit" class="btn btn-primary py-3 w-100 mb-4">Sign Up</button>
                    <p class="text-center mb-0">Already have an Account? <a href="#" class="text-primary">Sign In</a></p>
                </form>
            </div>
        </div>
    </div>
    <!-- Sign Up End -->
</div>