<div class="modal-dialog" style="margin: 1.75rem 1.75rem;">
    <div class="modal-content">
        <div>
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">{{title}}</h5>
                <button type="button" class="btn-close" mat-dialog-close style="cursor: pointer;"></button>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
                    {{errorMessage}}
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" autocomplete="off" [(ngModel)]="model.name"
                        (keypress)="validName($event)" placeholder="name">
                    <label for="userName">Name</label>
                </div>
                <div class="d-flex justify-content-between mx-3">
                    <label>Approve</label>
                    <mat-slide-toggle [(ngModel)]="model.isApproved" color="primary"></mat-slide-toggle>
                </div>

                <div class="d-flex justify-content-between mx-3 mt-4">
                    <label>Active</label>
                    <mat-slide-toggle [(ngModel)]="model.isActive" color="primary"></mat-slide-toggle>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" mat-dialog-close>Close</button>
                <button type="submit" class="btn btn-primary" (click)="onSubmit()">{{action}}</button>
            </div>
        </div>
    </div>
</div>