<div class="modal fade" id="user" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <form #form="ngForm" (ngSubmit)="onSubmit(form)">
              <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">Edit</h5>
              <button type="button" #closeButton class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <div class="form-floating mb-3">
                      <input type="text" class="form-control" id="userName" name="userName" autocomplete="off" [(ngModel)]="model.userName" placeholder="userName">
                      <label for="userName">Name</label>
                  </div>
                  <div class="form-floating mb-3">
                      <input type="text" class="form-control" id="firstName" name="firstName" autocomplete="off" [(ngModel)]="model.firstName" placeholder="firstName">
                      <label for="firstName">Image</label>
                  </div>

                  <div class="d-flex justify-content-between mx-3">
                    <label>Approve</label>
                    <div><input class="form-check-input me-1" type="radio" name="radioNoLabel" id="radioNoLabel1" value="" aria-label="..."><label class="me-4">Yes</label>
                        <input class="form-check-input me-1" type="radio" name="radioNoLabel" id="radioNoLabel1" value="" aria-label="..."><label>No</label>
                    </div>
                    
                  </div>

                  <div class="d-flex justify-content-between mx-3 mt-4">
                    <label>Active</label>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                        <label class="form-check-label" for="flexSwitchCheckDefault"></label>
                      </div>
                    
                  </div>
                  <!-- <div class="form-floating mb-3">
                      <input type="text" class="form-control" id="lastName" name="lastName"  autocomplete="off" [(ngModel)]="model.lastName" placeholder="lastName">
                      <label for="lastName">Approved</label>
                  </div> -->
                  <!-- <div class="form-floating mb-3">
                      <input type="email" class="form-control" id="emailId" name="emailId" autocomplete="off" [(ngModel)]="model.emailId" placeholder="emailId">
                      <input class="form-check-input" type="radio" name="radioNoLabel" id="radioNoLabel1" value="" aria-label="...">
                      <label for="emailId">Active</label>
                  </div>
                  
                  
                  <div class="form-floating mb-3">
                      <input type="text" class="form-control" id="password" name="password" autocomplete="off" [(ngModel)]="model.password" placeholder="password">
                      <label for="password">Password</label>
                  </div> -->
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Save</button>
              </div>
           </form>
      </div>
  </div>
</div>
