<div class="modal-dialog" style="margin: 1.75rem 1.75rem; max-width: 100%;">
    <div class="modal-content">
        <div>
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">{{title}}</h5>
                <button type="button" class="btn-close" mat-dialog-close style="cursor: pointer;"></button>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
                    {{errorMessage}}
                </div>
                <div style="display: flex; justify-content: space-between;">
                    <div class="form-floating mb-3" style="width: 49%">
                        <input type="text" class="form-control" autocomplete="off" [(ngModel)]="model.userId"
                            placeholder="name">
                        <label for="userName">User ID</label>
                    </div>
                    <div class="form-floating mb-3" style="width: 49%">
                        <input type="text" class="form-control" autocomplete="off" [(ngModel)]="model.firstName"
                            placeholder="food type">
                        <label for="firstName">First Name</label>
                    </div>
                </div>
                <div style="display: flex; justify-content: space-between;">
                    <div class="form-floating mb-3" style="width: 49%;">
                        <input type="text" class="form-control" autocomplete="off" [(ngModel)]="model.lastName"
                            placeholder="food type">
                        <label for="firstName">Last Name</label>
                    </div>
                    <div class="form-floating mb-3" style="width: 49%;">
                        <input type="text" class="form-control" autocomplete="off" [(ngModel)]="model.mobileNo"
                            placeholder="food type">
                        <label for="firstName">Mobile No.</label>
                    </div>
                </div>
                <div style="display: flex; justify-content: space-between;">
                    <div class="form-floating mb-3" style="width: 49%;">
                        <input type="text" class="form-control" autocomplete="off" [(ngModel)]="model.alternateNo"
                            placeholder="food type">
                        <label for="firstName">Alternate Mobile No.</label>
                    </div>
                    <div class="form-floating mb-3" style="width: 49%;">
                        <textarea class="form-control" placeholder="Address" id="floatingTextarea2"
                            [(ngModel)]="model.address" style=" height: 100px"></textarea>
                        <label for="firstName">Address</label>
                    </div>
                </div>
                <div style="display: flex; justify-content: space-between;">
                    <div class="mb-3" style="width: 49%;">
                        <label>Location</label>
                        <select class="form-select w-100 my-2" [(ngModel)]="model.location">
                            <option selected disabled value="">Select location</option>
                            <option value="City Campus">City Campus</option>
                            <option value="Thandalam Campus">Thandalam Campus</option>
                        </select>
                    </div>
                    <div class="mb-3" style="width: 49%;">
                        <label>College Type</label>
                        <select class="form-select w-100 my-2" [(ngModel)]="model.collegeType">
                            <option selected disabled value="">Select College type</option>
                            <option value="Dental">Dental</option>
                            <option value="Law">Law</option>
                            <option value="Medical">Medical</option>
                            <option value="Management">Management</option>
                            <option value="Engineering">Engineering</option>
                        </select>
                    </div>
                </div>
                <div style="display: flex; justify-content: space-between; align-items: center;">
                    <div class="mb-3" style="width: 49%;">
                        <label>User Type</label>
                        <select class="form-select w-100 my-2" [(ngModel)]="model.type">
                            <option selected disabled value="">Select User type</option>
                            <option value="{{item}}" *ngFor="let item of types">{{item}}</option>
                        </select>
                    </div>
                    <div class="d-flex justify-content-between mx-3 mt-4" style="width: 49%">
                        <label>Active</label>
                        <mat-slide-toggle [(ngModel)]="model.isActive" color="primary"></mat-slide-toggle>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" mat-dialog-close>Close</button>
                <button type="submit" class="btn btn-primary" (click)="onSubmit()">{{action}}</button>
            </div>
        </div>
    </div>
</div>