<div class="d-flex mt-2 px-4">
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample"
    aria-expanded="false" aria-controls="collapseExample">
    <i class="fa fa-filter" aria-hidden="true"></i>
Filter
  </button>
</div>

<div class="container-fluid collapse p-2 px-4" id="collapseExample">
  <div class="bg-light text-center rounded p-2 d-flex justify-content-between">
    <div>
      <mat-form-field  class="white-backgrounded-field">
        <mat-label>Choose Location</mat-label>
        <mat-select>
            <mat-option>City Campus</mat-option>
            <mat-option>Thandalam Campus</mat-option>
            <mat-option>All</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <mat-label>Food Court</mat-label>
        <mat-select>
            <mat-option>One</mat-option>
            <mat-option>Two</mat-option>
            <mat-option>Three</mat-option>
            <mat-option>All</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="white-backgrounded-field">
        <mat-label>Restaurant</mat-label>
        <mat-select>
          <mat-option>One</mat-option>
          <mat-option>Two</mat-option>
          <mat-option>Three</mat-option>
          <mat-option>All</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

  </div>
</div>


<div class="container-fluid pt-2 px-4">
  <div class="bg-light text-center rounded p-4">
    <div class="d-flex align-items-center justify-content-between mb-4">
      <h5 class="mb-0 text-primary">Campus</h5>
      <button type="button" class="btn btn-primary fs-6" data-bs-toggle="modal" data-bs-target="#user">Add</button>
    </div>
    
    <app-campus-form></app-campus-form>
  </div>
</div>