<div class="d-flex mt-2">
  <div class="container-fluid pt-2 px-4">
    <div class="bg-light text-center rounded p-4">
      <div class="d-flex align-items-center justify-content-between mb-4">
        <h5 class="mb-0 text-primary">Payments</h5>
        <div style="display: flex;align-items: center;">
          <h6 style="margin-right: 20px;" class="badge badge-pill badge-info">Payments count: {{payments.length || 0}}
          </h6>
        </div>
      </div>
      <button *ngIf="isLoading" class="btn btn-primary" type="button" disabled>
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Loading...
      </button>
      <div class="table-responsive" *ngIf="!isLoading && payments.length > 0">
        <table class="table text-start  align-middle table-bordered table-hover" style="margin-bottom: 50px;">
          <thead>
            <tr class="text-dark">
              <th scope="col">S.No.</th>
              <th scope="col">Name</th>
              <th scope="col">User Type</th>
              <th scope="col">Amount</th>
              <th scope="col">Reference Number</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of payments; index as i">
              <td>{{i+1}}</td>
              <td>{{item.userId?.firstName}}</td>
              <td>{{item.userId?.type}}</td>
              <td>{{item.amount}}</td>
              <td>{{item.razorpayOrderId}}</td>
              <td>
                <div class="badge rounded-pill bg-success" *ngIf="item.status === 'paid'">Paid</div>
                <div class="badge rounded-pill bg-warning text-dark" *ngIf="item.status !== 'paid'"
                  style="text-transform: capitalize;">{{item.status}}</div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="d-flex align-items-center justify-content-center" *ngIf="!isLoading && payments.length === 0">
        No data found
      </div>
    </div>
  </div>