<div class="container-fluid pt-2 px-4">
  <div class="bg-light text-center rounded p-3 d-flex justify-content-between">
    <div>
      <select class="form-select" aria-label="Default select example">
        <option selected>Choose Location</option>
        <option value="1">Thandalam</option>
        <option value="2">City Campus</option>

      </select>
    </div>

    <div>
      <select class="form-select" aria-label="Default select example">
        <option selected>Select Food Court</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>

    <div>
      <select class="form-select" aria-label="Default select example">
        <option selected>Select Restaurant</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>

  </div>
</div>


<div class="container-fluid pt-2 px-4">
  <div class="bg-light text-center rounded p-4">
    <div class="d-flex align-items-center justify-content-between mb-4">
      <h5 class="mb-0 text-primary">Users</h5>
      <form class="d-none d-md-flex ms-4" style="width: 40%;">
        <input class="form-control border-0" type="search" placeholder="Search">
      </form>
      <button type="button" class="btn btn-primary fs-6" data-bs-toggle="modal" data-bs-target="#user">Add</button>
    </div>
    <!-- user model -->

    <div class="table-responsive">
      <table class="table text-start  align-middle table-bordered table-hover mb-0">
        <thead>
          <tr class="text-dark">
            <th scope="col">S.No</th>
            <th scope="col">User ID</th>
            <th scope="col">Name</th>
            <th scope="col">Mobile No.</th>
            <th scope="col">College</th>
            <th scope="col">Location</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1.</td>
            <td>10250</td>
            <td>Anandh</td>
            <td>98765 43210</td>
            <td>Dental</td>
            <td>Thandalam</td>
            <td style="text-align: center;"><button type="button" class="btn btn-success btn-sm"
                style="background-color: rgb(37, 181, 54);">Approved</button></td>
            <td>
              <div class='d-flex justify-content-around'>
                <div data-bs-toggle="modal" data-bs-target="#user"><i class="fa fa-edit"></i></div>
                <div data-bs-toggle="modal" data-bs-target="#user"><i class="fa fa-trash text-danger"
                    data-bs-toggle="modal" data-bs-target="#deleteModal"></i></div>

              </div>
              <!-- user model -->

            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Alert!</h5>
        <button #closeButton type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary" (click)="delete()">Yes</button>
      </div>
    </div>
  </div>
</div>